{% load static %}

<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8"/>
	<meta name="keywords" name="Cy-press, Cy-press.ir, Ali Baghban">
    <meta property="og:image" content="{% static 'main/assets/images/pre.jpg' %}"/>
	<meta name="description" content="Cy-press.ir | Another world ...">
	<meta name="author" content="Ali Baghban">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Cy-Press.ir | Ali Baghban</title>
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static 'main/assets/vendors/mdi/css/materialdesignicons.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/assets/vendors/aos/dist/aos.css/aos.css' %}"/>
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{% static 'main/assets/images/fav.png' %}"/>
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'main/assets/css/style.css' %}">
    <!-- endinject -->
</head>

<body>
<div class="container-scroller">
    <div class="main-panel">
        <!-- partial:../partials/_navbar.html -->
        {% include 'partials/_navbar.html' %}
        <!-- partial -->
        {% block content %}{% endblock %}
        <!-- partial:../partials/_footer.html -->
        {% include 'partials/_footer.html' %}
        <!-- partial -->
    </div>
</div>
<!-- inject:js -->
<script src="{% static 'main/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- plugin js for this page -->

<script src="{% static 'main/assets/vendors/aos/dist/aos.js/aos.js' %}"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="{% static 'main/assets/js/demo.js' %}"></script>
<script src="{% static 'main/assets/js/jquery.easeScroll.js' %}"></script>
<!-- End custom js for this page-->
</body>
</html>
